<form (ngSubmit)="onSubmit(fsu)" #fsu="ngForm">
  <div class="row">
    <div class="col-sm-12 form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        name="email"
        ngModel
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
      >
      <p class="text-danger" *ngIf="emailCheck(fsu) ">email must be of valid pattern</p>
    </div>
    <div class="col-sm-12 form-group">
      <label for="age">Age</label>
      <input
        type="number"
        id="age"
        class="form-control"
        name="age"
        ngModel
        required
        pattern="^[1-9]+[0-9]*$"
      >
      <p class="text-danger" *ngIf="ageCheck(fsu) ">age must be greater than 0</p>
    </div>
    <div class="col-sm-12 form-group">
      <label for="username">User name</label>
      <input
        type="text"
        id="username"
        class="form-control"
        name="username"
        ngModel
        required
      >
    </div>
    <div class="col-sm-12 form-group">
      <label for="password">password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        name="password"
        ngModel
        required
      >
    </div>
    <div class="col-sm-12 form-group">
      <label for="confirmpassword">Confirm password</label>
      <input
        type="password"
        id="confirmpassword"
        class="form-control"
        name="confirmpassword"
        ngModel
        required
      >
      <p class="text-danger" *ngIf="passwordMatched(fsu) ">password doesn't match</p>
    </div>
  </div>
  <div class="col-sm-12">
    <button
      class="btn btn-success"
      type="submit"
      [disabled]="!fsu.valid">login</button>
  </div>

</form>
